# Checkpoint Three: Cleaning Data:  I DID THIS BEFORE CHECKPOINT 2!

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://nces.ed.gov/ipeds/use-the-data#SurveyData

Import the necessary libraries and create your dataframe(s).

In [19]:
# First import necessary libraries
import pandas as pd
import numpy as np

# Next import data. Note that these files were chosen from the Institute of Education Sciences from US-DOE's "Integrated Postsecondary Education Data Systems". 
# “IPEDS is a system of 12 interrelated survey components conducted annually that gathers data from every college, university, and technical and vocational 
# institution that participates in the federal student financial aid programs. The data collections occur in fall, winter, and spring” (nces.ed.gov/ipeds).
# The datasets chosen were those that contained INSTITUTIONAL data from the most recent year (2024) back through 1996, thus constituting 29 years' worth of data.
# More specifically, I chose the data from this website: https://nces.ed.gov/ipeds/use-the-data#SurveyData, under COMPLETE DATA FILES, then filtered by "Completions",
# and finally choosing "Awards/degrees conferred by program (6-digit CIP code), award level, race/ethnicity, and gender" (note that a few of the oldest datasets
# only provided 2-digit CIP code, but this was a sufficient level of detail for my purposes). Also note that although I could have used years prior to 1996 in my
# analyses, datasets prior to that date did not include race/ethnicity data, which were of interest in this project and/or did not impute missing values, so I chose
# to exclude those.

year1996 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c1996_a.csv')
year1997 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c1997_a.csv')
year1998 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c1998_a.csv')
year1999 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c1999_a.csv')
year2000 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2000_a.csv')
year2001 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2001_a.csv')
year2002 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2002_a.csv')
year2003 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2003_a.csv')
year2004 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2004_a.csv')
year2005 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2005_a.csv')
year2006 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2006_a.csv')
year2007 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2007_a.csv')
year2008 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2008_a.csv')
year2009 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2009_a.csv')
year2010 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2010_a.csv')
year2011 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2011_a.csv')
year2012 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2012_a.csv')
year2013 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2013_a.csv')
year2014 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2014_a.csv')
year2015 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2015_a.csv')
year2016 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2016_a.csv')
year2017 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2017_a.csv')
year2018 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2018_a.csv')
year2019 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2019_a.csv')
year2020 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2020_a.csv')
year2021 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2021_a.csv')
year2022 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2022_a.csv')
year2023 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2023_a.csv')
year2024 = pd.read_csv(r'C:\Users\B\LCClass\finalproject\Original CSVs\c2024_a.csv')


# NOTE THAT THESE ARE THE VARIABLE NAMES FOR RECENT (2011-2024) DATASETS:
#  UNITID	Unique identification number of the institution
#  CIPCODE	CIP Code -  2020 Classification
#  AWLEVEL	Award Level code
#  CTOTALT	Grand total
#  CTOTALM	Grand total men
#  CTOTALW	Grand total women
#  CAIANT	American Indian or Alaska Native total 
#  CAIANM	American Indian or Alaska Native men 
#  CAIANW	American Indian or Alaska Native women 
#  CASIAT	Asian total 
#  CASIAM	Asian men
#  CASIAW	Asian women 
#  CBKAAT	Black or African American total 
#  CBKAAM	Black or African American men 
#  CBKAAW	Black or African American women 
#  CHISPT	Hispanic or Latino total 
#  CHISPM	Hispanic or Latino men 
#  CHISPW	Hispanic or Latino women 
#  CNHPIT	Native Hawaiian or Other Pacific Islander total (includes Asian until 2011)
#  CNHPIM	Native Hawaiian or Other Pacific Islander men(includes Asian until 2011)
#  CNHPIW	Native Hawaiian or Other Pacific Islander women (includes Asian until 2011)
#  CWHITT	White total 
#  CWHITM	White men 
#  CWHITW	White women 
#  CNRALT	U.S. Nonresident total
#  CNRALM	U.S. Nonresident men
#  CNRALW	U.S. Nonresident women

#AND NOTE THAT FROM 1996-2010, SOME OF THE VARIABLES HAVE DIFFERENT NAMES. WILL NEED TO BE CONVERTED BELOW.

In [20]:
#Checking to see how many rows and columns were in each dataframe before beginning any cleaning and manipulation:
print(year2024.shape)
print(year2023.shape)
print(year2022.shape)
print(year2021.shape)
print(year2020.shape)
print(year2019.shape)
print(year2018.shape)
print(year2017.shape)                      
print(year2016.shape)
print(year2015.shape)
print(year2014.shape)
print(year2013.shape)
print(year2012.shape)                      
print(year2011.shape)
print(year2010.shape)
print(year2009.shape)
print(year2008.shape)
print(year2007.shape)                      
print(year2006.shape)
print(year2005.shape)
print(year2004.shape)
print(year2003.shape)  
print(year2002.shape)
print(year2001.shape)
print(year2000.shape)
print(year1999.shape)
print(year1998.shape)
print(year1997.shape) 
print(year1996.shape)

(307707, 64)
(303292, 64)
(300877, 64)
(296343, 64)
(289792, 64)
(291052, 64)
(290119, 64)
(308943, 64)
(301984, 64)
(300222, 64)
(293259, 64)
(284907, 64)
(270166, 65)
(265808, 64)
(265604, 124)
(255884, 124)
(247075, 124)
(240507, 52)
(238406, 52)
(230135, 52)
(219682, 52)
(211859, 52)
(200336, 52)
(194569, 36)
(173137, 35)
(153166, 51)
(201825, 37)
(159007, 38)
(158885, 38)

# Part 1:  Strip Column Names and make them all UPPER CASE

These datasets should be fairly clean, but I did want to make sure the column names didn't contain leading or trailing spaces anywhere, and that they were consistent, capitalization-wise, because I'm going to be using them to match and combine datasets.

In [21]:
#BIG NOTE:  I tried repeatedly to use loops to modify ALL of the dataframes at once. They would seem like they worked, but when I called the dataframes again later, they had not been modified. So I ultimately
#went back and removed all of these types of loops from this assignment to ensure I was working with the correctly updated dataframe at all times. As an example of one of the many loops that did not work, just
#to illustrate that I tried to use the loops correctly, here's an example of what I used in one of the steps below BEFORE realizing it wasn't changing my dataframes permanently:

#EXAMPLE 1
#df_w_majornum = [year2011, year2012, year2013, year2014, year2015, year2016, year2017, year2018, year2019, year2020, year2021, year2022, year2023, year2024]
#for year in df_w_majornum:
#    year = year[(year["MAJORNUM"] == 1)]
#    year.shape[0]
#    print(year["MAJORNUM"].value_counts())


#EXAMPLE 2
#all_datasets = [year1996, year1997, year1998, year1999, year2000, year2001, year2002, year2003, year2004, year2005, year2006, year2007, year2008, year2009, 
 #               year2010, year2011, year2012, year2013, year2014, year2015, year2016, year2017, year2018, year2019, year2020, year2021, year2022, year2023, year2024]

#for year in all_datasets:
#    year.columns = year.columns.str.strip()
#    year.columns = year.columns.str.upper()

In [22]:
# Strip column names and make all column names upper case

year2024.columns = year2024.columns.str.strip()
year2024.columns = year2024.columns.str.upper()

year2023.columns = year2023.columns.str.strip()
year2023.columns = year2023.columns.str.upper()

year2022.columns = year2022.columns.str.strip()
year2022.columns = year2022.columns.str.upper()

year2021.columns = year2021.columns.str.strip()
year2021.columns = year2021.columns.str.upper()

year2020.columns = year2020.columns.str.strip()
year2020.columns = year2020.columns.str.upper()

year2019.columns = year2019.columns.str.strip()
year2019.columns = year2019.columns.str.upper()

year2018.columns = year2018.columns.str.strip()
year2018.columns = year2018.columns.str.upper()

year2017.columns = year2017.columns.str.strip()
year2017.columns = year2017.columns.str.upper()

year2016.columns = year2016.columns.str.strip()
year2016.columns = year2016.columns.str.upper()

year2015.columns = year2015.columns.str.strip()
year2015.columns = year2015.columns.str.upper()

year2014.columns = year2014.columns.str.strip()
year2014.columns = year2014.columns.str.upper()

year2013.columns = year2013.columns.str.strip()
year2013.columns = year2013.columns.str.upper()

year2012.columns = year2012.columns.str.strip()
year2012.columns = year2012.columns.str.upper()

year2011.columns = year2011.columns.str.strip()
year2011.columns = year2011.columns.str.upper()

year2010.columns = year2010.columns.str.strip()
year2010.columns = year2010.columns.str.upper()

year2009.columns = year2009.columns.str.strip()
year2009.columns = year2009.columns.str.upper()

year2008.columns = year2008.columns.str.strip()
year2008.columns = year2008.columns.str.upper()

year2007.columns = year2007.columns.str.strip()
year2007.columns = year2007.columns.str.upper()

year2006.columns = year2006.columns.str.strip()
year2006.columns = year2006.columns.str.upper()

year2005.columns = year2005.columns.str.strip()
year2005.columns = year2005.columns.str.upper()

year2004.columns = year2004.columns.str.strip()
year2004.columns = year2004.columns.str.upper()

year2003.columns = year2003.columns.str.strip()
year2003.columns = year2003.columns.str.upper()

year2002.columns = year2002.columns.str.strip()
year2002.columns = year2002.columns.str.upper()

year2001.columns = year2001.columns.str.strip()
year2001.columns = year2001.columns.str.upper()

year2000.columns = year2000.columns.str.strip()
year2000.columns = year2000.columns.str.upper()

year1999.columns = year1999.columns.str.strip()
year1999.columns = year1999.columns.str.upper()

year1998.columns = year1998.columns.str.strip()
year1998.columns = year1998.columns.str.upper()

year1997.columns = year1997.columns.str.strip()
year1997.columns = year1997.columns.str.upper()

year1996.columns = year1996.columns.str.strip()
year1996.columns = year1996.columns.str.upper()

# Part 2: Create Consistent Column/Series Names/Rows

Files from 1996-2007 used one set of variable names, 2008-2010 used slightly different names, and then 2011-2024 used a different set. Also, in this dataset, there are multiple rows for each institution, with either one or two rows for each institution-CIPCODE-major# combination. Institution code is the university code, CIPCODE is the major code, and major# is either 1st or 2nd. For # example, one row might represent U of IL, CIPCODE=52.1501 which is a real-estate major, listed as first major. Then the subsequent columns represent the numbers of student graduates in each demographic category (e.g., total, total men, total women, total Asian-Pacific Islander men, etc.). For these reasons, I did a multi-step process:

a) Limit to first major only (MAJORNUM=1) for consistency across years (not all datasets reported second major) and limit to Bachelor's degrees conferred (AWLEVEL=5), as Associates, Certificates, and graduate degrees are beyond the scope of this project.

b) RECENT DATASETS (2011-2024): Make the recent datasets (2011-2024) exactly as I want them, with only the needed columns, and a new column called "year" that will be used upon merging. While I'm at it, I'm going to go ahead and check for missing values, too.

c) INTERMEDIATE YEARS (2008-2010): Make these files have the same column titles as the recent files. This is tricky, as will be explained more in-depth below.

d) OLD YEARS (1996-2007) Make the "old" (1996-2007) files have the same column names as the recent, but also create "total" columns where there are none

In [23]:
#  A:  Limit to MAJORNUM=1 and AWLEVEL=5. RESULTING DATAFRAMES HAVE SUFFIX "a".

#note that the MAJORNUM variable was only used from 2001-2024
year2024a = year2024[year2024["MAJORNUM"] == 1]
year2024a = year2024a[year2024a["AWLEVEL"] ==5]

year2023a = year2023[year2023["MAJORNUM"] == 1]
year2023a = year2023a[year2023a["AWLEVEL"] ==5]

year2022a = year2022[year2022["MAJORNUM"] == 1]
year2022a = year2022a[year2022a["AWLEVEL"] ==5]

year2021a = year2021[year2021["MAJORNUM"] == 1]
year2021a = year2021a[year2021a["AWLEVEL"] ==5]

year2020a = year2020[year2020["MAJORNUM"] == 1]
year2020a = year2020a[year2020a["AWLEVEL"] ==5]

year2019a = year2019[year2019["MAJORNUM"] == 1]
year2019a = year2019a[year2019a["AWLEVEL"] ==5]

year2018a = year2018[year2018["MAJORNUM"] == 1]
year2018a = year2018a[year2018a["AWLEVEL"] ==5]

year2017a = year2017[year2017["MAJORNUM"] == 1]
year2017a = year2017a[year2017a["AWLEVEL"] ==5]

year2016a = year2016[year2016["MAJORNUM"] == 1]
year2016a = year2016a[year2016a["AWLEVEL"] ==5]

year2015a = year2015[year2015["MAJORNUM"] == 1]
year2015a = year2015a[year2015a["AWLEVEL"] ==5]

year2014a = year2014[year2014["MAJORNUM"] == 1]
year2014a = year2014a[year2014a["AWLEVEL"] ==5]

year2013a = year2013[year2013["MAJORNUM"] == 1]
year2013a = year2013a[year2013a["AWLEVEL"] ==5]

year2012a = year2012[year2012["MAJORNUM"] == 1]
year2012a = year2012a[year2012a["AWLEVEL"] ==5]

year2011a = year2011[year2011["MAJORNUM"] == 1]
year2011a = year2011a[year2011a["AWLEVEL"] ==5]

year2010a = year2010[year2010["MAJORNUM"] == 1]
year2010a = year2010a[year2010a["AWLEVEL"] ==5]

year2009a = year2009[year2009["MAJORNUM"] == 1]
year2009a = year2009a[year2009a["AWLEVEL"] ==5]

year2008a = year2008[year2008["MAJORNUM"] == 1]
year2008a = year2008a[year2008a["AWLEVEL"] ==5]

year2007a = year2007[year2007["MAJORNUM"] == 1]
year2007a = year2007a[year2007a["AWLEVEL"] ==5]

year2006a = year2006[year2006["MAJORNUM"] == 1]
year2006a = year2006a[year2006a["AWLEVEL"] ==5]

year2005a = year2005[year2005["MAJORNUM"] == 1]
year2005a = year2005a[year2005a["AWLEVEL"] ==5]

year2004a = year2004[year2004["MAJORNUM"] == 1]
year2004a = year2004a[year2004a["AWLEVEL"] ==5]

year2003a = year2003[year2003["MAJORNUM"] == 1]
year2003a = year2003a[year2003a["AWLEVEL"] ==5]

year2002a = year2002[year2002["MAJORNUM"] == 1]
year2002a = year2002a[year2002a["AWLEVEL"] ==5]

year2001a = year2001[year2001["MAJORNUM"] == 1]
year2001a = year2001a[year2001a["AWLEVEL"] ==5]

# but AWLEVEL was used in all years

year2000a = year2000[year2000["AWLEVEL"] ==5]  
year1999a = year1999[year1999["AWLEVEL"] ==5]
year1998a = year1998[year1998["AWLEVEL"] ==5]
year1997a = year1997[year1997["AWLEVEL"] ==5]  
year1996a = year1996[year1996["AWLEVEL"] ==5]

In [24]:
#Checking to see how many rows were in each dataframe after that step:
print(year2024a.shape)
print(year2023a.shape)
print(year2022a.shape)
print(year2021a.shape)
print(year2020a.shape)
print(year2019a.shape)
print(year2018a.shape)
print(year2017a.shape)                      
print(year2016a.shape)
print(year2015a.shape)
print(year2014a.shape)
print(year2013a.shape)
print(year2012a.shape)                      
print(year2011a.shape)
print(year2010a.shape)
print(year2009a.shape)
print(year2008a.shape)
print(year2007a.shape)                      
print(year2006a.shape)
print(year2005a.shape)
print(year2004a.shape)
print(year2003a.shape)  
print(year2002a.shape)
print(year2001a.shape)
print(year2000a.shape)
print(year1999a.shape)
print(year1998a.shape)
print(year1997a.shape) 
print(year1996a.shape)

# The output shows that after this step, this is the row/column count for each year for dataset "a":
# 2024	(84312, 64)
# 2023	(83854, 64)
# 2022	(83921, 64)
# 2021	(83349, 64)
# 2020	(83061, 64)
# 2019	(82981, 64)
# 2018	(82247, 64)
# 2017	(81547, 64)
# 2016	(80229, 64)
# 2015	(80541, 64)
# 2014	(79319, 64)
# 2013	(78100, 64)
# 2012	(75432, 65)
# 2011	(74211, 64)
# 2010	(73828, 124)
# 2009	(71815, 124)
# 2008	(69464, 124)
# 2007	(68646, 52)
# 2006	(67578, 52)
# 2005	(66018, 52)
# 2004	(63905, 52)
# 2003	(62059, 52)
# 2002	(60267, 52)
# 2001	(59959, 36)
# 2000	(58189, 35)
# 1999	(52525, 51)
# 1998	(58298, 37)
# 1997	(53460, 38)
# 1996	(53191, 38)

(84312, 64)
(83854, 64)
(83921, 64)
(83349, 64)
(83061, 64)
(82981, 64)
(82247, 64)
(81547, 64)
(80229, 64)
(80541, 64)
(79319, 64)
(78100, 64)
(75432, 65)
(74211, 64)
(73828, 124)
(71815, 124)
(69464, 124)
(68646, 52)
(67578, 52)
(66018, 52)
(63905, 52)
(62059, 52)
(60267, 52)
(59959, 36)
(58189, 35)
(52525, 51)
(58298, 37)
(53460, 38)
(53191, 38)

In [25]:
# B: RECENT YEARS (2011-2024): RESULTING DATAFRAMES HAVE SUFFIX "b".

# 1. Datasets from 2011-2024 all have the same columns. I wish to only keep the columns of interest to me, which include the UNITID (institution), CIPCODE (major),
# and then # of men(M), women (W), and total (T) for each race/ethnicity category (CTOTAL, CAIAN=American Indian or Alaska Native, CASIA=Asian, CBKAAT=Black, 
# CBHISP=Hispanic/Latino, CNHPI=Native Hawaiian/Pacific Islander, CWHIT=white). The following columns will not be included: 

#COLUMN NAME AND WHY DROPPED
    #CUNKNT (race/ethnicity unknown, total): not helpful when looking at racial/ethnic trends
    #CUNKNM (race/ethnicity unknown, MEN): not helpful when looking at racial/ethnic trends
    #CUNKNW (race/ethnicity unknown, WOMEN): not helpful when looking at racial/ethnic trends
    #C2MORT (2+ races, total): not reported until 2011, eliminated in interest of having complete data for all years
    #C2MORM (2+ races, men): not reported until 2011, eliminated in interest of having complete data for all years
    #C2MORW (2+ races, women): not reported until 2011, eliminated in interest of having complete data for all years
    #CNRALT (non-resident, total): interesting, but not reported for all years, eliminated in interest of having complete data for all years
    #CNRALW (non-resident, total): interesting, but not reported for all years, eliminated in interest of having complete data for all years
    #CNRALM (non-resident, total): interesting, but not reported for all years, eliminated in interest of having complete data for all years
    #Columns that begin with "X". In some of the years' datasets, there is an imputation code column for each variable/column. In other words, there is a column 
        # called CTOTALC, which is the total # of students who earned a degree in that row's institution & CIPID (major code). There is a corresponding column 
        # called XCTOTALC, in which a letter is given to all values of CTOTALC to indicate whether the value there was as reported, or, if imputed, the method 
        # of imputation. Because imputation method is beyond the scope of this analysis, I will remove all columns that begin with "X".
    #AWLEVEL now has a value of 5 for all datasets and all rows, so it's not very useful
    #MAJORNUM now has a value of 1 for all datasets, so again it's not very useful

columns_to_keep = ['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT', 'CBKAAM','CBKAAW',
                      'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW','CWHITT', 'CWHITM', 'CWHITW']

#I tried to do the following in a loop but I couldn't get it to save the changes permanently to the dataframes...not sure why
year2024b = year2024a[columns_to_keep]
year2023b = year2023a[columns_to_keep]
year2022b = year2022a[columns_to_keep]
year2021b = year2021a[columns_to_keep]
year2020b = year2020a[columns_to_keep]
year2019b = year2019a[columns_to_keep]
year2018b = year2018a[columns_to_keep]
year2017b = year2017a[columns_to_keep]
year2016b = year2016a[columns_to_keep]
year2015b = year2015a[columns_to_keep]
year2014b = year2014a[columns_to_keep]
year2013b = year2013a[columns_to_keep]
year2012b = year2012a[columns_to_keep]
year2011b = year2011a[columns_to_keep]


# 2: ADD "YEAR" COLUMN TO EACH DATASET SO THAT I CAN TELL THEM APART WHEN I MERGE THEM
year2024b["year"] = 2024
year2023b["year"] = 2023
year2022b["year"] = 2022
year2021b["year"] = 2021
year2020b["year"] = 2020
year2019b["year"] = 2019
year2018b["year"] = 2018
year2017b["year"] = 2017
year2016b["year"] = 2016
year2015b["year"] = 2015
year2014b["year"] = 2014
year2013b["year"] = 2013
year2012b["year"] = 2012
year2011b["year"] = 2011


# 3. Check for missing values
print(year2024b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2023b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2022b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2021b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2020b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2019b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2018b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2017b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2016b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2015b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2014b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2013b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2012b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2011b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())

# There are no missing values!

C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2024b["year"] = 2024
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2023b["year"] = 2023
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2022b["year"] = 2022
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2021b["year"] = 2021
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2020b["year"] = 2020
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2019b["year"] = 2019
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2018b["year"] = 2018
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2017b["year"] = 2017
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2016b["year"] = 2016
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2015b["year"] = 2015
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2014b["year"] = 2014
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2013b["year"] = 2013
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2012b["year"] = 2012
C:\Users\B\AppData\Local\Temp\ipykernel_14816\1652534293.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2011b["year"] = 2011

UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64
UNITID     0
CIPCODE    0
CTOTALT    0
CTOTALM    0
CTOTALW    0
CAIANT     0
CAIANM     0
CAIANW     0
CASIAT     0
CASIAM     0
CASIAW     0
CBKAAT     0
CBKAAM     0
CBKAAW     0
CHISPT     0
CHISPM     0
CHISPW     0
CNHPIT     0
CNHPIM     0
CNHPIW     0
CWHITT     0
CWHITM     0
CWHITW     0
year       0
dtype: int64

In [26]:
#Again checking to see how many rows and columns were in each dataframe after that step so that I can track changes in the datasets across this cleaning/manipulation process:
print(year2024b.shape)
print(year2023b.shape)
print(year2022b.shape)
print(year2021b.shape)
print(year2020b.shape)
print(year2019b.shape)
print(year2018b.shape)
print(year2017b.shape)                      
print(year2016b.shape)
print(year2015b.shape)
print(year2014b.shape)
print(year2013b.shape)
print(year2012b.shape)                      
print(year2011b.shape)

# The output shows that after this step, this is the row/column count for each year for dataset "b":
#year	a	            b
#2024	(84312, 24)
#2023	(83854, 24)
#2022	(83921, 24)
#2021	(83349, 24)
#2020	(83061, 24)
#2019	(82981, 24)
#2018	(82247, 24)
#2017	(81547, 24)
#2016	(80229, 24)
#2015	(80541, 24)
#2014	(79319, 24)
#2013	(78100, 24)
#2012	(75432, 24)
#2011	(74211, 24)


#Note that the datsets from 2011-2024 now only have 24 variables/columns.

(84312, 24)
(83854, 24)
(83921, 24)
(83349, 24)
(83061, 24)
(82981, 24)
(82247, 24)
(81547, 24)
(80229, 24)
(80541, 24)
(79319, 24)
(78100, 24)
(75432, 24)
(74211, 24)

In [27]:
#  C: INTERMEDIATE YEARS (2008-2010):  RESULTING DATAFRAMES HAVE SUFFIX "b".
# 
# Before 2011, the race/ethnicity data is a little bit complicated to work with. Specifically, for each race/ethnic category, for these 3 years, institutions were 
# allowed to report race/ethnicity data from graduates based using either old categories, new categories, or a combination of the two.  Then IPEDS derived a value 
# from what was reported. The datasets contain the old, new, and derived values. Additionally, from 1989-2007, # "Asian" was included with Hawaiaan/Other Pacific 
# Islanders.  From 2011 on, Asians and HPIs were split apart. From 2008-2010, responding institutions could use either set of categories. Because of this lack of 
# clarity, I decided NOT to use data from Asian/HPI students before the year 2011, as I thought it would muddy interpretation. Additionally, because I want to keep
# the derived values and use them going forward, but the "new" categories have the same name as the variables in 2011-2024, I needed to delete those
# columns, then rename the derived columns with those column names. The order is very important!
# 
# 1. Confirm what I just said by running some missing value counts. (The first printout should show lots of missing values since only some respondents used these
# categories, but teh second printout should show no missing values b/c the researchers derived all the values from both categories' responses)
#print(year2008[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT','CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW']].isna().sum())
#print(year2008[["DVCAIT", "DVCAIM", "DVCAIW", "DVCBKT", "DVCBKM", "DVCBKW", "DVCHST", "DVCHSM", "DVCHSW", "DVCAPT", "DVCAPM", "DVCAPW", "DVCWHT", "DVCWHM", "DVCWHW"]].isna().sum())

# 2. Drop the categories with the names I want to use (which have incomplete data)
year2008b=year2008a.drop(['CAIANT', 'CAIANM', 'CAIANW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW'], axis=1)
year2008b.head()

year2009b=year2009a.drop(['CAIANT', 'CAIANM', 'CAIANW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW'], axis=1)
year2009b.head()

year2010b=year2010a.drop(['CAIANT', 'CAIANM', 'CAIANW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW'], axis=1)
year2010b.head()

# 3. then rename the columns (tried to do it in a loop, but couldn't get it to work) for the intermediate years [year2008, year2009, year2010]

year2008b = year2008b.rename(columns={"DVCAIT":"CAIANT", "DVCAIM":"CAIANM", "DVCAIW":"CAIANW", "DVCBKT":"CBKAAT", "DVCBKM":"CBKAAM", "DVCBKW":"CBKAAW", "DVCHST":"CHISPT", "DVCHSM":"CHISPM", "DVCHSW":"CHISPW",
                                 "DVCAPT":"CNHPIT", "DVCAPM":"CNHPIM", "DVCAPW":"CNHPIW", "DVCWHT":"CWHITT", "DVCWHM":"CWHITM", "DVCWHW":"CWHITW"})
year2009b = year2009b.rename(columns={"DVCAIT":"CAIANT", "DVCAIM":"CAIANM", "DVCAIW":"CAIANW", "DVCBKT":"CBKAAT", "DVCBKM":"CBKAAM", "DVCBKW":"CBKAAW", "DVCHST":"CHISPT", "DVCHSM":"CHISPM", "DVCHSW":"CHISPW",
                                 "DVCAPT":"CNHPIT", "DVCAPM":"CNHPIM", "DVCAPW":"CNHPIW", "DVCWHT":"CWHITT", "DVCWHM":"CWHITM", "DVCWHW":"CWHITW"})
year2010b = year2010b.rename(columns={"DVCAIT":"CAIANT", "DVCAIM":"CAIANM", "DVCAIW":"CAIANW", "DVCBKT":"CBKAAT", "DVCBKM":"CBKAAM", "DVCBKW":"CBKAAW", "DVCHST":"CHISPT", "DVCHSM":"CHISPM", "DVCHSW":"CHISPW",
                                 "DVCAPT":"CNHPIT", "DVCAPM":"CNHPIM", "DVCAPW":"CNHPIW", "DVCWHT":"CWHITT", "DVCWHM":"CWHITM", "DVCWHW":"CWHITW"})

#4. Limit datasets to only the columns I want to keep
columns_to_keep = ['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CBKAAT', 'CBKAAM','CBKAAW','CHISPT', 'CHISPM', 'CHISPW', 'CWHITT', 'CWHITM', 'CWHITW']

#I tried to do the following in a loop but I couldn't get it to save the changes permanently to the dataframes...not sure why
year2008b = year2008b[columns_to_keep]
year2009b = year2009b[columns_to_keep]
year2010b = year2010b[columns_to_keep]

#5.  Add YEAR column to all 3 datasets
year2008b["year"] = 2008
year2009b["year"] = 2009
year2010b["year"] = 2010

# 6. Add CASIAT, CASIAM, CASIAW columns and fill with NaN values so these datasets' columns match those of recent datasets (with a loop)
year2008b["CASIAT"] = np.nan
year2008b["CASIAM"] = np.nan
year2008b["CASIAW"] = np.nan
year2008b["CNHPIT"] = np.nan
year2008b["CNHPIM"] = np.nan
year2008b["CNHPIW"] = np.nan

year2009b["CASIAT"] = np.nan
year2009b["CASIAM"] = np.nan
year2009b["CASIAW"] = np.nan
year2009b["CNHPIT"] = np.nan
year2009b["CNHPIM"] = np.nan
year2009b["CNHPIW"] = np.nan

year2010b["CASIAT"] = np.nan
year2010b["CASIAM"] = np.nan
year2010b["CASIAW"] = np.nan
year2010b["CNHPIT"] = np.nan
year2010b["CNHPIM"] = np.nan
year2010b["CNHPIW"] = np.nan

#and just to make sure everything worked.....
print(year2008b.columns)
print(year2009b.columns)
print(year2010b.columns)

# 7. Check for missing values
print(year2008b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2009b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
print(year2010b[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())

# The only missing values are those for Asian and HPI, which is correct!

Index(['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT',
       'CAIANM', 'CAIANW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM',
       'CHISPW', 'CWHITT', 'CWHITM', 'CWHITW', 'year', 'CASIAT', 'CASIAM',
       'CASIAW', 'CNHPIT', 'CNHPIM', 'CNHPIW'],
      dtype='object')
Index(['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT',
       'CAIANM', 'CAIANW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM',
       'CHISPW', 'CWHITT', 'CWHITM', 'CWHITW', 'year', 'CASIAT', 'CASIAM',
       'CASIAW', 'CNHPIT', 'CNHPIM', 'CNHPIW'],
      dtype='object')
Index(['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT',
       'CAIANM', 'CAIANW', 'CBKAAT', 'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM',
       'CHISPW', 'CWHITT', 'CWHITM', 'CWHITW', 'year', 'CASIAT', 'CASIAM',
       'CASIAW', 'CNHPIT', 'CNHPIM', 'CNHPIW'],
      dtype='object')
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     69464
CASIAM     69464
CASIAW     69464
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     69464
CNHPIM     69464
CNHPIW     69464
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     71815
CASIAM     71815
CASIAW     71815
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     71815
CNHPIM     71815
CNHPIW     71815
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     73828
CASIAM     73828
CASIAW     73828
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     73828
CNHPIM     73828
CNHPIW     73828
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64

In [ ]:
#Again checking to see how many rows and columns were in each dataframe after that step so that I can track changes in the datasets across this cleaning/manipulation process:
print(year2008b.shape)
print(year2009b.shape)
print(year2010b.shape)

#and we have the same # of rows as before, but 24 columns as desired:
# 2010	(73828, 24)
# 2009	(71815, 24)
# 2008	(69464, 24)

(69464, 24)
(71815, 24)
(73828, 24)

In [30]:
#   D: OLD DATASETS (1996-2007): Make this dataset have same columns as recent datasets:  RESULTING DATAFRAMES HAVE SUFFIX "b".
# 
# 1. Change column names from oldest datasets to match the names of those columns in recent datasets AND create "total" columns 

year1996b = year1996a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year1997b = year1997a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year1998b = year1998a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year1999b = year1999a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year2000b = year2000a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year2001b = year2001a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year2002b = year2002a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year2003b = year2003a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year2004b = year2004a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year2005b = year2005a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year2006b = year2006a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})
year2007b = year2007a.rename(columns={"CRACE15":"CTOTALM", "CRACE16":"CTOTALW", "CRACE05":"CAIANM", "CRACE06":"CAIANW", "CRACE03":"CBKAAM", "CRACE04":"CBKAAW", "CRACE09":"CHISPM", 
                     "CRACE10":"CHISPW", "CRACE07":"CNHPIM", "CRACE08":"CNHPIW", "CRACE11":"CWHITM", "CRACE12":"CWHITW", "CRACE01":"CNRALM", "CRACE02":"CNRALW"})

# 2. Limit to only the columns I wish to keep
columns_to_keep = ['UNITID', 'CIPCODE', 'CTOTALM', 'CTOTALW', 'CAIANM', 'CAIANW', 'CBKAAM','CBKAAW', 'CHISPM', 'CHISPW', 'CWHITM', 'CWHITW']
year1996b = year1996b[columns_to_keep]
year1997b = year1997b[columns_to_keep]
year1998b = year1998b[columns_to_keep]
year1999b = year1999b[columns_to_keep]
year2000b = year2000b[columns_to_keep]
year2001b = year2001b[columns_to_keep]
year2002b = year2002b[columns_to_keep]
year2003b = year2003b[columns_to_keep]
year2004b = year2004b[columns_to_keep]
year2005b = year2005b[columns_to_keep]
year2006b = year2006b[columns_to_keep]
year2007b = year2007b[columns_to_keep]

# 3: ADD "YEAR" COLUMN TO EACH DATASET SO THAT I CAN TELL THEM APART WHEN I MERGE THEM
year1996b["year"] = 1996
year1997b["year"] = 1997
year1998b["year"] = 1998
year1999b["year"] = 1999
year2000b["year"] = 2000
year2001b["year"] = 2001
year2002b["year"] = 2002
year2003b["year"] = 2003
year2004b["year"] = 2004
year2005b["year"] = 2005
year2006b["year"] = 2006
year2007b["year"] = 2007

# 4. create total columns from "men" and "women" columns for each race/ethnic group (these don't exist in these early datasets)
year2007b["CTOTALT"] = year2007b["CTOTALM"] + year2007b["CTOTALW"] 
year2007b["CAIANT"] = year2007b["CAIANM"] + year2007b["CAIANW"]
year2007b["CBKAAT"] = year2007b["CBKAAM"] + year2007b["CBKAAW"]
year2007b["CHISPT"] = year2007b["CHISPM"] + year2007b["CHISPW"]
year2007b["CWHITT"] = year2007b["CWHITM"] + year2007b["CWHITW"]

year2006b["CTOTALT"] = year2006b["CTOTALM"] + year2006b["CTOTALW"] 
year2006b["CAIANT"] = year2006b["CAIANM"] + year2006b["CAIANW"]
year2006b["CBKAAT"] = year2006b["CBKAAM"] + year2006b["CBKAAW"]
year2006b["CHISPT"] = year2006b["CHISPM"] + year2006b["CHISPW"]
year2006b["CWHITT"] = year2006b["CWHITM"] + year2006b["CWHITW"]

year2005b["CTOTALT"] = year2005b["CTOTALM"] + year2005b["CTOTALW"] 
year2005b["CAIANT"] = year2005b["CAIANM"] + year2005b["CAIANW"]
year2005b["CBKAAT"] = year2005b["CBKAAM"] + year2005b["CBKAAW"]
year2005b["CHISPT"] = year2005b["CHISPM"] + year2005b["CHISPW"]
year2005b["CWHITT"] = year2005b["CWHITM"] + year2005b["CWHITW"]

year2004b["CTOTALT"] = year2004b["CTOTALM"] + year2004b["CTOTALW"] 
year2004b["CAIANT"] = year2004b["CAIANM"] + year2004b["CAIANW"]
year2004b["CBKAAT"] = year2004b["CBKAAM"] + year2004b["CBKAAW"]
year2004b["CHISPT"] = year2004b["CHISPM"] + year2004b["CHISPW"]
year2004b["CWHITT"] = year2004b["CWHITM"] + year2004b["CWHITW"]

year2003b["CTOTALT"] = year2003b["CTOTALM"] + year2003b["CTOTALW"] 
year2003b["CAIANT"] = year2003b["CAIANM"] + year2003b["CAIANW"]
year2003b["CBKAAT"] = year2003b["CBKAAM"] + year2003b["CBKAAW"]
year2003b["CHISPT"] = year2003b["CHISPM"] + year2003b["CHISPW"]
year2003b["CWHITT"] = year2003b["CWHITM"] + year2003b["CWHITW"]

year2002b["CTOTALT"] = year2002b["CTOTALM"] + year2002b["CTOTALW"] 
year2002b["CAIANT"] = year2002b["CAIANM"] + year2002b["CAIANW"]
year2002b["CBKAAT"] = year2002b["CBKAAM"] + year2002b["CBKAAW"]
year2002b["CHISPT"] = year2002b["CHISPM"] + year2002b["CHISPW"]
year2002b["CWHITT"] = year2002b["CWHITM"] + year2002b["CWHITW"]

year2001b["CTOTALT"] = year2001b["CTOTALM"] + year2001b["CTOTALW"] 
year2001b["CAIANT"] = year2001b["CAIANM"] + year2001b["CAIANW"]
year2001b["CBKAAT"] = year2001b["CBKAAM"] + year2001b["CBKAAW"]
year2001b["CHISPT"] = year2001b["CHISPM"] + year2001b["CHISPW"]
year2001b["CWHITT"] = year2001b["CWHITM"] + year2001b["CWHITW"]

year2000b["CTOTALT"] = year2000b["CTOTALM"] + year2000b["CTOTALW"] 
year2000b["CAIANT"] = year2000b["CAIANM"] + year2000b["CAIANW"]
year2000b["CBKAAT"] = year2000b["CBKAAM"] + year2000b["CBKAAW"]
year2000b["CHISPT"] = year2000b["CHISPM"] + year2000b["CHISPW"]
year2000b["CWHITT"] = year2000b["CWHITM"] + year2000b["CWHITW"]

year1999b["CTOTALT"] = year1999b["CTOTALM"] + year1999b["CTOTALW"] 
year1999b["CAIANT"] = year1999b["CAIANM"] + year1999b["CAIANW"]
year1999b["CBKAAT"] = year1999b["CBKAAM"] + year1999b["CBKAAW"]
year1999b["CHISPT"] = year1999b["CHISPM"] + year1999b["CHISPW"]
year1999b["CWHITT"] = year1999b["CWHITM"] + year1999b["CWHITW"]

year1998b["CTOTALT"] = year1998b["CTOTALM"] + year1998b["CTOTALW"] 
year1998b["CAIANT"] = year1998b["CAIANM"] + year1998b["CAIANW"]
year1998b["CBKAAT"] = year1998b["CBKAAM"] + year1998b["CBKAAW"]
year1998b["CHISPT"] = year1998b["CHISPM"] + year1998b["CHISPW"]
year1998b["CWHITT"] = year1998b["CWHITM"] + year1998b["CWHITW"]

year1997b["CTOTALT"] = year1997b["CTOTALM"] + year1997b["CTOTALW"] 
year1997b["CAIANT"] = year1997b["CAIANM"] + year1997b["CAIANW"]
year1997b["CBKAAT"] = year1997b["CBKAAM"] + year1997b["CBKAAW"]
year1997b["CHISPT"] = year1997b["CHISPM"] + year1997b["CHISPW"]
year1997b["CWHITT"] = year1997b["CWHITM"] + year1997b["CWHITW"]

year1996b["CTOTALT"] = year1996b["CTOTALM"] + year1996b["CTOTALW"] 
year1996b["CAIANT"] = year1996b["CAIANM"] + year1996b["CAIANW"]
year1996b["CBKAAT"] = year1996b["CBKAAM"] + year1996b["CBKAAW"]
year1996b["CHISPT"] = year1996b["CHISPM"] + year1996b["CHISPW"]
year1996b["CWHITT"] = year1996b["CWHITM"] + year1996b["CWHITW"]



# 5. Add CASIAT, CASIAM, CASIAW columns and fill with NaN values so these datasets' columns match those of recent datasets (with a loop)
year2007b["CASIAT"] = np.nan
year2007b["CASIAM"] = np.nan
year2007b["CASIAW"] = np.nan
year2007b["CNHPIT"] = np.nan
year2007b["CNHPIM"] = np.nan
year2007b["CNHPIW"] = np.nan

year2006b["CASIAT"] = np.nan
year2006b["CASIAM"] = np.nan
year2006b["CASIAW"] = np.nan
year2006b["CNHPIT"] = np.nan
year2006b["CNHPIM"] = np.nan
year2006b["CNHPIW"] = np.nan

year2005b["CASIAT"] = np.nan
year2005b["CASIAM"] = np.nan
year2005b["CASIAW"] = np.nan
year2005b["CNHPIT"] = np.nan
year2005b["CNHPIM"] = np.nan
year2005b["CNHPIW"] = np.nan

year2004b["CASIAT"] = np.nan
year2004b["CASIAM"] = np.nan
year2004b["CASIAW"] = np.nan
year2004b["CNHPIT"] = np.nan
year2004b["CNHPIM"] = np.nan
year2004b["CNHPIW"] = np.nan

year2003b["CASIAT"] = np.nan
year2003b["CASIAM"] = np.nan
year2003b["CASIAW"] = np.nan
year2003b["CNHPIT"] = np.nan
year2003b["CNHPIM"] = np.nan
year2003b["CNHPIW"] = np.nan

year2002b["CASIAT"] = np.nan
year2002b["CASIAM"] = np.nan
year2002b["CASIAW"] = np.nan
year2002b["CNHPIT"] = np.nan
year2002b["CNHPIM"] = np.nan
year2002b["CNHPIW"] = np.nan

year2001b["CASIAT"] = np.nan
year2001b["CASIAM"] = np.nan
year2001b["CASIAW"] = np.nan
year2001b["CNHPIT"] = np.nan
year2001b["CNHPIM"] = np.nan
year2001b["CNHPIW"] = np.nan

year2000b["CASIAT"] = np.nan
year2000b["CASIAM"] = np.nan
year2000b["CASIAW"] = np.nan
year2000b["CNHPIT"] = np.nan
year2000b["CNHPIM"] = np.nan
year2000b["CNHPIW"] = np.nan

year1999b["CASIAT"] = np.nan
year1999b["CASIAM"] = np.nan
year1999b["CASIAW"] = np.nan
year1999b["CNHPIT"] = np.nan
year1999b["CNHPIM"] = np.nan
year1999b["CNHPIW"] = np.nan

year1998b["CASIAT"] = np.nan
year1998b["CASIAM"] = np.nan
year1998b["CASIAW"] = np.nan
year1998b["CNHPIT"] = np.nan
year1998b["CNHPIM"] = np.nan
year1998b["CNHPIW"] = np.nan

year1997b["CASIAT"] = np.nan
year1997b["CASIAM"] = np.nan
year1997b["CASIAW"] = np.nan
year1997b["CNHPIT"] = np.nan
year1997b["CNHPIM"] = np.nan
year1997b["CNHPIW"] = np.nan

year1996b["CASIAT"] = np.nan
year1996b["CASIAM"] = np.nan
year1996b["CASIAW"] = np.nan
year1996b["CNHPIT"] = np.nan
year1996b["CNHPIM"] = np.nan
year1996b["CNHPIW"] = np.nan




#and just to make sure everything worked....
print(year1996b.columns)

# 6. Check for missing values
oldest = [year1996b, year1997b, year1998b, year1999b, year2000b, year2001b, year2002b, year2003b, year2004b, year2005b, year2006b, year2007b]
for year in oldest:
    print(year[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT',
   'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())
###### The only missing values are those for Asian and HPI, which is correct!

Index(['UNITID', 'CIPCODE', 'CTOTALM', 'CTOTALW', 'CAIANM', 'CAIANW', 'CBKAAM',
       'CBKAAW', 'CHISPM', 'CHISPW', 'CWHITM', 'CWHITW', 'year', 'CTOTALT',
       'CAIANT', 'CBKAAT', 'CHISPT', 'CWHITT', 'CASIAT', 'CASIAM', 'CASIAW',
       'CNHPIT', 'CNHPIM', 'CNHPIW'],
      dtype='object')
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     53191
CASIAM     53191
CASIAW     53191
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     53191
CNHPIM     53191
CNHPIW     53191
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     53460
CASIAM     53460
CASIAW     53460
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     53460
CNHPIM     53460
CNHPIW     53460
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     58298
CASIAM     58298
CASIAW     58298
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     58298
CNHPIM     58298
CNHPIW     58298
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     52525
CASIAM     52525
CASIAW     52525
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     52525
CNHPIM     52525
CNHPIW     52525
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     58189
CASIAM     58189
CASIAW     58189
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     58189
CNHPIM     58189
CNHPIW     58189
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     59959
CASIAM     59959
CASIAW     59959
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     59959
CNHPIM     59959
CNHPIW     59959
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     60267
CASIAM     60267
CASIAW     60267
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     60267
CNHPIM     60267
CNHPIW     60267
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     62059
CASIAM     62059
CASIAW     62059
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     62059
CNHPIM     62059
CNHPIW     62059
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     63905
CASIAM     63905
CASIAW     63905
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     63905
CNHPIM     63905
CNHPIW     63905
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     66018
CASIAM     66018
CASIAW     66018
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     66018
CNHPIM     66018
CNHPIW     66018
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     67578
CASIAM     67578
CASIAW     67578
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     67578
CNHPIM     67578
CNHPIW     67578
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64
UNITID         0
CIPCODE        0
CTOTALT        0
CTOTALM        0
CTOTALW        0
CAIANT         0
CAIANM         0
CAIANW         0
CASIAT     68646
CASIAM     68646
CASIAW     68646
CBKAAT         0
CBKAAM         0
CBKAAW         0
CHISPT         0
CHISPM         0
CHISPW         0
CNHPIT     68646
CNHPIM     68646
CNHPIW     68646
CWHITT         0
CWHITM         0
CWHITW         0
year           0
dtype: int64

In [31]:
#Again checking to see how many rows and columns were in each dataframe after that step so that I can track changes in the datasets across this cleaning/manipulation process:
print(year2007b.shape)
print(year2006b.shape)
print(year2005b.shape)
print(year2004b.shape)
print(year2003b.shape)
print(year2002b.shape)
print(year2001b.shape)
print(year2000b.shape)
print(year1999b.shape)
print(year1998b.shape)
print(year1997b.shape)
print(year1996b.shape)

#and we have the same # of rows as before, but 24 columns as desired.
#2007	(68646, 24)
#2006	(67578, 24)
#2005	(66018, 24)
#2004	(63905, 24)
#2003	(62059, 24)
#2002	(60267, 24)
#2001	(59959, 24)
#2000	(58189, 24)
#1999	(52525, 24)
#1998	(58298, 24)
#1997	(53460, 24)
#1996	(53191, 24)

(68646, 24)
(67578, 24)
(66018, 24)
(63905, 24)
(62059, 24)
(60267, 24)
(59959, 24)
(58189, 24)
(52525, 24)
(58298, 24)
(53460, 24)
(53191, 24)

# Part 3: Merge All Datasets
I now know that I have 29 datasets (1996-2024), all with the same columns and no missing values except for the values missing because the data from racial categories including Asian/Native Hawaiian/Pacific Islanders were not recorded in a consistent way. Therefore, I will use pd.concat to merge them.

In [32]:
#  Merge datasets using pd.concat

combined_df = pd.concat([year1996b, year1997b, year1998b, year1999b, year2000b, year2001b, year2002b, year2003b, year2004b, year2005b, year2006b, year2007b, year2008b, year2009b,
                          year2010b, year2011b, year2012b, year2013b, year2014b, year2015b, year2016b, year2017b, year2018b, year2019b, year2020b, year2021b, year2022b, year2023b, 
                          year2024b], axis=0)

#To see whether it worked
print(combined_df.columns)
combined_df.head()
combined_df.info()
print(combined_df.shape)

# Note that the resulting combined dataframe has 24 columns and 2,072,306 rows, which is the sum of the # of rows in all the dataframe "b"s.

Index(['UNITID', 'CIPCODE', 'CTOTALM', 'CTOTALW', 'CAIANM', 'CAIANW', 'CBKAAM',
       'CBKAAW', 'CHISPM', 'CHISPW', 'CWHITM', 'CWHITW', 'year', 'CTOTALT',
       'CAIANT', 'CBKAAT', 'CHISPT', 'CWHITT', 'CASIAT', 'CASIAM', 'CASIAW',
       'CNHPIT', 'CNHPIM', 'CNHPIW'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 2072306 entries, 57 to 307656
Data columns (total 24 columns):
 #   Column   Dtype
---  ------   -----
 0   UNITID   int64
 1   CIPCODE  float64
 2   CTOTALM  int64
 3   CTOTALW  int64
 4   CAIANM   int64
 5   CAIANW   int64
 6   CBKAAM   int64
 7   CBKAAW   int64
 8   CHISPM   int64
 9   CHISPW   int64
 10  CWHITM   int64
 11  CWHITW   int64
 12  year     int64
 13  CTOTALT  int64
 14  CAIANT   int64
 15  CBKAAT   int64
 16  CHISPT   int64
 17  CWHITT   int64
 18  CASIAT   float64
 19  CASIAM   float64
 20  CASIAW   float64
 21  CNHPIT   float64
 22  CNHPIM   float64
 23  CNHPIW   float64
dtypes: float64(7), int64(17)
memory usage: 395.3 MB
(2072306, 24)

# Part 4: Deal with Data Issues

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [33]:
# I tested for missing data in each of the 3 subsets of the data above, but I will check here for the combined dataset:
print(combined_df[['UNITID', 'CIPCODE', 'CTOTALT', 'CTOTALM', 'CTOTALW', 'CAIANT', 'CAIANM', 'CAIANW', 'CASIAT', 'CASIAM', 'CASIAW', 'CBKAAT',
   'CBKAAM', 'CBKAAW', 'CHISPT', 'CHISPM', 'CHISPW', 'CNHPIT', 'CNHPIM', 'CNHPIW', 'CWHITT', 'CWHITM', 'CWHITW', 'year']].isna().sum())

#Everything looks great--only missing values for Asian and HPI students!!

UNITID          0
CIPCODE         0
CTOTALT         0
CTOTALM         0
CTOTALW         0
CAIANT          0
CAIANM          0
CAIANW          0
CASIAT     939202
CASIAM     939202
CASIAW     939202
CBKAAT          0
CBKAAM          0
CBKAAW          0
CHISPT          0
CHISPM          0
CHISPW          0
CNHPIT     939202
CNHPIM     939202
CNHPIW     939202
CWHITT          0
CWHITM          0
CWHITW          0
year            0
dtype: int64

## Irregular Data 

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [ ]:
#I am not particularly concerned about high "outliers", as these data are going to be highly skewed and I don't want to eliminate high #s (large # of graduates)
# at this time. I may need to do some manipulation to get rid of low outliers (0s), but I would need to do that AFTER I eliminate duplicate rows if there are any.

#Also, I saw above that the "Asian" and "HPI" data types are float. I tried to fix them, but it turns out that you can't turn them to int64 if the column contains NaN values, so I'll leave them.

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [ ]:
# I previously presumed these datasets were very clean, but was wrong (e.g., I needed to strip and capitalize column names!). This was a good reminder that one
# should always run all steps of cleaning their data! Therefore, I wanted to take a look at any duplicate rows:

#Recall that there were 2,297,863 rows in the dataset. Let's see if there are any duplicated rows:

print(combined_df.duplicated().sum())
#  There are NO duplicated rows, so none to remove!


#I dropped unnecessary columns earlier in my process to reduce the amount of data I had

0

In [34]:
#It is important to remember that each row consists of a UNITID-CIPCODE combination, with institution representing a college/university (the
# code-name pairs can be found elsewhere), and CIPCODE representing a particular academic major code. There are 1608 unique CIPCODE values in the 2024 dataset. In 2000, 
# they began using 6-digit (instead of 2-digit) CIP codes. I believe 2-digit codes to be a sufficient level of detail for my analyses, so I will need to use slicing
# to remove all but the first two digits. Of note is that a value of "99" in the CIPCODE column represents the Grand Total across all CIPCODEs.
   
#----------------------CHANGING TO 2-DIGIT CIP CODES AND THEN CREATING A NEW UNITID_CIPCODE SERIES/COLUMN-----------------------
# 
# There are currently a LOT of 0s in the dataset, as there are LOTS of institutions that report 0 students graduating with many of the CIPCODES (majors). I need to 
# strip the CIPCODEs to 2-digits (broad majors, of which there are approximately 50), and then merge all of the stats from the same 2-digit CIPCODE 
# together so that I have one line for each institution for each of the 2-digit CIPCODEs. This will eliminate some of the 0 values, although not all, as not all 
# institutions will offer a degree in all CIPCODE majors. 

combined_df["CIPCODE"].value_counts()

combined_df["CIPCODE_2DIG"] = combined_df["CIPCODE"].astype(str).str[:2]
combined_df["CIPCODE_2DIG"].value_counts()


#that worked, except that for values < 10, it kept the single digit plus a decimal point as the CIPCODE. Therefore, I need to have it remove the decimal points, which I'm going to do with a dictionary:
combined_df["CIPCODE_2DIG"] = combined_df["CIPCODE_2DIG"].replace(
    {"1.": "01",
    "2.": "02",
    "3.": "03",
    "4.": "04",
    "5.": "05",
    "6.": "06",
    "7.": "07",
    "8.": "08",
    "9.": "09"}
)
combined_df["CIPCODE_2DIG"].value_counts(ascending=True, dropna=False)

# and my value_counts tell me that it worked!! But note that the interpretation here can be tricky.....each university will still be represented across multiple rows. But now there might be several of those
# rows with the same CIPCODE because they might have previously had 10 rows with CIPCODEs of 52.xxx, which were all variants of a business degree but with slightly different foci. Now they all just have
# the CIPCODE of 52.
# 
# As a last step before starting some plotting, I want to collapse all rows with the same UNITID and CIPCODE into one row, so that there will be only one row per UNITID-2DIG_CIPCODE combination. One way
# I can figure to do this is to create a new series that is a combination of the UNITID and CIPCODE, and then groupby this variable and aggregate (sum) the rest of the columns. Before I do this, I need
# to make sure all of the columns I want to sum are integer/numeric variables.

combined_df["UNITID_CIP2DIG"] = combined_df["UNITID"].astype(str) + "." + combined_df["CIPCODE_2DIG"].astype(str)
combined_df["UNITID_CIP2DIG"].value_counts()

UNITID_CIP2DIG
169798.13    810
172699.13    746
217420.13    723
181464.13    701
169248.13    680
            ...
498623.52      1
498623.50      1
498623.42      1
498623.39      1
498623.13      1
Name: count, Length: 47822, dtype: int64

In [35]:
#to make sure new columns were added and populated
print(combined_df.shape)
#2 new columns added, so all good!

(2072306, 26)

In [36]:

#----------------------CREATING A NEW DATAFRAME THAT IS ONLY THE TOTAL NUMBER OF DEGREES PER UNIVERSITY ACROSS ALL CIPCODES-----------------------

# A CIPCODE of 99 indicates that the row contains the values for ALL CIPCODES (i.e., all graduates across all majors) for that university, for that year. 
# I'd like a separate dataframe that contains only these rows.
df_ttl_degrees = combined_df[combined_df["CIPCODE_2DIG"]=="99"]
df_ttl_degrees.head()
df_ttl_degrees.shape[0]
df_ttl_degrees["UNITID"].value_counts()

#DATASET DESCRIPTION: In this dataset, there should be one row for each UNITID-year pair, with the values in the columns representing ALL baacalaureate graduates of that year and university, regardless of 
# major (organized by racial group). Because there are 29 years of data, the highest number of times a university could be represented in this dataset is 29, and the lowest is 1.

UNITID
102553    29
102377    29
102368    29
110608    29
110592    29
          ..
203881     1
206446     1
498623     1
499671     1
499811     1
Name: count, Length: 6622, dtype: int64

In [37]:

#----------------------CREATING A NEW DATAFRAME THAT IS ALL BUT THE TOTAL (I.E., THAT CONTAINS UNIQUE CIPCODE-UNITID-year PAIRS) -----------------------

df_allmajors = combined_df[combined_df["CIPCODE_2DIG"] != "99"]

df_allmajors_totalled = df_allmajors.groupby(["UNITID","CIPCODE_2DIG", "year"]).sum().reset_index()
#get rid of the 6 digit cipcode and the one that's a combination of unit and 2-digit cipcode (no longer needed)
df_allmajors_totalled = df_allmajors_totalled.drop(["CIPCODE", "UNITID_CIP2DIG"], axis=1)
df_allmajors_totalled.head()

# In this dataset, there should be one row for each UNITID-year-CIPCODE combination, with the values in the columns representing baacalaureate graduates in
# that year, 2-digit major, and university (organized by racial group). Because there are often MANY rows for a single year, 2-digit major, and university combination. Thus, I needed to aggregate by 2-digit
# CIPCODE.

,UNITID,CIPCODE_2DIG,year,CTOTALM,CTOTALW,CAIANM,CAIANW,CBKAAM,CBKAAW,CHISPM,...,CAIANT,CBKAAT,CHISPT,CWHITT,CASIAT,CASIAM,CASIAW,CNHPIT,CNHPIM,CNHPIW
0,100654,01,1996,3,1,0,0,1,1,0,...,0,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100654,01,1997,5,3,0,0,5,3,0,...,0,8,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100654,01,1998,2,0,0,0,2,0,0,...,0,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100654,01,1999,5,0,0,0,5,0,0,...,0,5,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,100654,01,2001,1,1,0,0,1,1,0,...,0,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [ ]:
# I'm not sure exactly what should go in this section, but I think I've addressed all of the issues with the datasets above. The classification/coding of Asian and HPI students was an inconsistency addressed
# above.

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?

1. DID YOU FIND ALL FOUR TYPES OF DIRTY DATA IN YOUR DATASET?
I was really surprised to find "strip" errors in the names of the variables in this dataset. Because it's based on a huge, federally-funded, publicly-available dataset, I thought for sure the data would be really clean. But when I was first trying to merge by column name I kept running into issues because of a space before the column names in some of the years' datasets. It was a good reminder to always "strip", even when you don't anticipate there being any issues. Similarly, I was surprised that the capitalization of the variable names changed across years, again leading to issues when I tried to merge.  I did NOT find any missing data, but I didn't expect to since these datasets had values already imputed. As far as outliers, I didn't want to eliminate any outliers at this time (before visualizing) because I already expect these data to be highly skewed, and I don't like to eliminate outliers without a clear rationale and cutoff.  There were some inconsistencies in how "Asian" and "Native Hawaiian/Asian Pacific Islanders" were recorded in the data, so I chose to include these categories separately starting in the year in which they first began recording them as such. 

2. DID THE PROCESS OF CLEANING YOUR DATA GIVE YOU NEW INSIGHTS INTO YOUR DATASET?
It definitely gave me headaches ;). It did, however, give me insight into the scope of the datsets, the nature of the CIPCODE variable and its use, and how many steps it takes to simply manipulate a dataset of this size into what I wanted for analysis. This process also really hammered home the importance of running really basic stats on your dataset every time you make a change (I ran "shape") to keep an eye on what each manipulation is doing to the dataset. I was able to catch errors by doing so (of course, I only started doing so because I found errors I had made!).

3. IS THERE ANYTHING YOU WOULD LIKE TO MAKE NOTE OF WHEN IT COMES TO MANIPULATING THE DATA AND MAKING VISUALIZATIONS?
One thing I want to keep an eye on is low outliers. For example, when I ran value counts on CTOTALT, which is the total # of degrees conferred across demographic groups in a single year-CIP-university combination, there were a fair number of "1" values. This not only seems suspicious, but also those low outliers could pull down my means and muddy interpretation. So I *may* need to set a somewhat arbitrary cutoff of "minimum number of graduates" needed for an institution-CIP-year combo to be included in the dataset. Similarly, I'll need to think about whether it makes any sense to look at the *proportion* of graduates in each racial/ethnic category (and gender) instead of just the raw #s. We'll see.



DATASETS TO BE SAVED FOR USE IN VISUALIZATION AND GOING FORWARD:
1. df_ttl_degrees: This dataset has 72,989 rows of data, with each row representing a university-year combination for TOTAL degrees conferred (CIPCODE=99). Thus, there are up to 29 rows for each university (i.e., 29 years). There are 26 columns, with the most important ones representing the #s of students who received Bachelors' degrees by demographic group. This dataset will allow me to look at demographic changes in the # of degrees conferred over time REGARDLESS of major (i.e., collapsed across major).

2. df_all_majors_totalled: This dataset has 808,853 rows of data, with each row representing a university-year-2digitCIP combination. This dataset will allow me to look at changes in the # of degrees conferred over time, by major and demographic group. Of note, taking this dataset and aggregating by 2digitCIP *should* yield the same dataset as df_ttl_degrees. But because the information was presented in this way already, I chose to save the datasets separately.

In [40]:
df_ttl_degrees.to_csv('univ_year_ttldegrees.csv', index=False)
df_allmajors_totalled.to_csv('univ_year_CIP.csv', index=False)